<div class="instances-unavailable">
  No data about instances is available.
</div>

<div class="instances-available">
  <h1 class="title">Instances</h1>
  
  <div class="boxer instances-information table">
      <div class="header box-row">
        <div class="box">IP</div>
        <div class="box">CPU</div>
        <div class="box">Memory</div>
        <div class="box">Disk</div>
        <div class="box">Uptime</div>
        <div class="box">State</div>
      </div>
  </div>
  
  <a class="more-instances-information" data-event-click='show_all_instances'>
    Display all <span class="total-instances-count">0</span> instances
  </a>
</div>

<div id="instances-dialog" class='widget widget-instances-information' title="Instances">
  
  <div class="boxer instances-information table">
      <div class="header box-row">
        <div class="box">IP</div>
        <div class="box">CPU</div>
        <div class="box">Memory</div>
        <div class="box">Disk</div>
        <div class="box">Uptime</div>
        <div class="box">State</div>
      </div>
  </div>

</div>