// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$normal-background-color:  #9c4274;
$green-background-color:  #3BA95C;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.3);

$meter-background:  darken($normal-background-color, 15%);
$green-meter-background:  darken($green-background-color, 15%);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $normal-background-color;

  input.meter {
    background-color: $meter-background;
    color: #fff;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}

.widget-meter.green {
  background-color: $green-background-color;
  input.meter {
  	background-color: $green-meter-background; 
  }
}
