<% content_for :title do %>
  Altoros: Cloud Foundry dashboard application.
<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Image" data-image="/altoros_logo.png" style="background-color: #ddd"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpu-meter" data-view="Meter" data-title="CPU" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mem-meter" data-view="Meter" data-title="Memory" data-min="0" data-max="1024" style='background-color: F#3A74C'></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="cpu-average" data-view="Graph" style="background-color: #6A3DE9"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mem-average" data-view="Graph"></div>
    </li>
  </ul>
</div>
