<% content_for :title do %>
  Altoros: Cloud Foundry dashboard application.
<% end %>

<div class="gridster">
  <ul>
<!--     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Altoros: Cloud Foundry dashboard application!" data-moreinfo="Altoros: Cloud Foundry dashboard application!"></div>
    </li>
 -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Image" data-image="/altoros_logo.png" data-title="Hello" data-text="Altoros: Cloud Foundry dashboard application!" data-moreinfo="Altoros: Cloud Foundry dashboard application!" style="background-color: #ddd">
        Altoros: Cloud Foundry dashboard application!
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpu-meter" data-view="Meter" data-title="CPU" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mem-meter" data-view="Meter" data-title="Memory" data-min="0" data-max="1024" style='background-color: #F3A74C'></div>
    </li>

<!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>
 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li>
-->
     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="cpu-average" data-view="Graph" style="background-color: #6A3DE9"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mem-average" data-view="Graph"></div>
    </li>
  </ul>
</div>
